<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="false" android:label="MockDevice">
        
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="陌陌风控伪装模块" />
        <meta-data android:name="xposedminversion" android:value="82" />

        <!-- 推荐作用域：让你在 LSPosed 里能直接勾选陌陌 -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
            
    </application>
</manifest>
